<ng-container *ngIf="screenWidth >= 768">
  <div class="header-nav">
    <a class="zoom-link" href="" routerLinkActive="active">Home</a>
    <a class="zoom-link" href="" routerLinkActive="active">Mobiles</a>
    <a class="zoom-link" href="" routerLinkActive="active">Accessories</a>
    <a class="zoom-link" href="" routerLinkActive="active">AboutUs</a>
    <div class="auth">
      <a class="zoom-link login" href="" routerLinkActive="active">Login</a>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="screenWidth < 768">
  <div class="header-nav">
    <div class="hamburger-menu" (click)="toggleMenu()">
      <i class="fa fa-bars bars-icon"></i>
    </div>
    <div class="menu-column" [class.active]="menuOpen">
      <ul>
        <li><i class="fa fa-home menu-icon home-icon"></i>Home</li>
        <li><i class="fa fa-mobile menu-icon mobile-icon"></i>Mobiles</li>
        <li><i class="fa fa-plug menu-icon"></i>Accessories</li>
        <li><i class="fa fa-info-circle menu-icon"></i>AboutUs</li>
      </ul>
      <div class="footer">
        <button (click)="toggleMenu()">Close</button>
      </div>
    </div>
    <div class="auth">
      <div>
        <i class="fa fa-search"></i>
      </div>
      <div>
        <i class="fa fa-user"></i>
      </div>
      <div>
        <i class="fa fa-bell"></i>
      </div>
      <!-- <a class="zoom-link login" href="" routerLinkActive="active">Login</a> -->
    </div>
  </div>
</ng-container>
