<ng-container *ngIf="screenWidth >= 768">
  <div class="header-nav">
    <div class="logo">
      <img src="../../assets/AR-Logo.jpg" alt="AR Telecom" />
    </div>
    <!-- <a class="zoom-link" href="" routerLinkActive="active">Home</a> -->
    <a class="zoom-link" href="" routerLinkActive="active">Mobiles</a>
    <a class="zoom-link" href="" routerLinkActive="active">Accessories</a>
    <a class="zoom-link" href="" routerLinkActive="active">AboutUs</a>
    <div class="auth">
      <a class="zoom-link login" href="" routerLinkActive="active">Login</a>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="screenWidth < 768">
  <div class="header-nav">
    <div class="hamburger-menu" (click)="toggleMenu()">
      <i class="fa fa-bars bars-icon"></i>
    </div>
    <div class="logo">
      <img src="../../assets/AR-Logo.jpg" alt="AR Telecom" />
    </div>
    <div class="menu-column" [class.active]="menuOpen">
      <div class="side-nav-mobile-header">
        <div class="close-button">
          <button (click)="toggleMenu()">
            <i class="fa fa-times fa-lg cross-icon"></i>
          </button>
        </div>
        <div class="logo">
          <img src="../../assets/AR-Logo.jpg" alt="AR Telecom" />
        </div>
        <div class="home-icon">
          <i class="fa fa-home fa-lg"></i>
        </div>
      </div>
      <ul>
        <li (click)="goToMobiles()">
          <div class="icon-text">
            <i class="fa fa-mobile menu-icon mobile-icon"></i>Mobiles
            <a routerLink="mobiles"></a>
          </div>
          <i class="fa fa-chevron-right arrow-icon"></i>
        </li>
        <li>
          <div class="icon-text" (click)="goToWatches()">
            <i class="fa fa-clock-o menu-icon watch-icon"></i>Watches
          </div>
          <i class="fa fa-chevron-right arrow-icon"></i>
        </li>
        <li>
          <div class="icon-text">
            <i class="fa fa-headphones menu-icon watch-icon"></i>Headphones
          </div>
          <i class="fa fa-chevron-right arrow-icon"></i>
        </li>
        <li>
          <div class="icon-text">
            <i class="fa fa-plug menu-icon"></i>Accessories
          </div>
          <i class="fa fa-chevron-right arrow-icon"></i>
        </li>
        <li>
          <div class="icon-text">
            <i class="fa fa-info-circle menu-icon"></i>AboutUs
          </div>
          <i class="fa fa-chevron-right arrow-icon"></i>
        </li>
        <li>
          <div class="icon-text" (click)="goToRegistrationPage()">
            <i class="fa fa-sign-in menu-icon" routerLink="signup"></i>SignUp
          </div>
          <i class="fa fa-chevron-right arrow-icon"></i>
        </li>
        <li>
          <div class="icon-text">
            <i class="fa fa-info-circle menu-icon"></i>Kya rakna bol
          </div>
          <i class="fa fa-chevron-right arrow-icon"></i>
        </li>
      </ul>
    </div>
    <div class="auth">
      <div>
        <i class="fa fa-search" routerLink="search"></i>
      </div>
      <div>
        <i class="fa fa-heart" routerLink="wishlist"></i>
      </div>
      <div>
        <i class="fa fa-shopping-cart" routerLink="cart"></i>
      </div>
      <div>
        <i class="fa fa-user" routerLink="loginE"></i>
      </div>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
