.slider {
  display: flex;
  overflow: hidden;
  max-width: 100%;
}

.slide {
  flex: 0 0 100%;
  transition: transform 0.5s;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide.active {
  transform: translateX(0%);
}

.controls {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.new-arrival-header {
  background: linear-gradient(45deg, #ff6b6b, #6b83ff);
  background-size: 200% 200%;
  animation: gradientAnimation 4s infinite;
  font-weight: 900;
  color: white;
  text-align: center;
}
.new-arrival-header p {
  margin: 0;
  padding: 0.5rem;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.scrolling-text {
  color: #004c8e;
  font-weight: 700;
}
