<app-header></app-header>
<div class="scrolling-text blinking-text">Welcome to AR Telecom</div>

<div class="card md:flex md:justify-content-center new-arrival-slider">
  <div class="new-arrival-header">
    <p>Newest Arrivals</p>
  </div>
  <p-galleria
    [value]="images"
    [showItemNavigators]="false"
    [showThumbnails]="false"
    [showIndicators]="false"
    [showIndicatorsOnItem]="true"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '650px' }"
    [autoPlay]="true"
    [circular]="true"
    [transitionInterval]="3000"
  >
    <ng-template pTemplate="item" let-item>
      <img
        [src]="item.itemImageSrc"
        style="width: 100%; height: 30%; display: block"
      />
    </ng-template>
    <!-- <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item.thumbnailImageSrc" style="display: block" />
        </div>
      </ng-template> -->
  </p-galleria>
</div>
