<!-- <div class="my-account-header">
  <p>My Account</p>
</div> -->
<div id="my-account">
  <div id="account-banner">
    <div class="avatar">
      <p-avatar
        label="M"
        styleClass="mr-2"
        size="xlarge"
        [style]="{ 'background-color': '#004c8e', color: '#ffffff' }"
        shape="circle"
      ></p-avatar>
    </div>
    <div class="user-details">
      <p>Mohammed Mustaq</p>
      <p>amdmustaq@gmail.com</p>
      <p>9676864640</p>
    </div>
    <div class="edit-section">
      <p>Edit</p>
    </div>
  </div>
  <div id="acoount-section-2">
    <ul>
      <li>
        <div class="icon-text">Orders</div>
        <i class="fa fa-chevron-right arrow-icon"></i>
      </li>
      <li>
        <div class="icon-text">Customer care</div>
        <i class="fa fa-chevron-right arrow-icon"></i>
      </li>
      <li>
        <div class="icon-text">Invite Friends & Earn</div>
        <i class="fa fa-chevron-right arrow-icon"></i>
      </li>
      <li>
        <div class="icon-text">Address</div>
        <i class="fa fa-chevron-right arrow-icon"></i>
      </li>
      <li>
        <div class="icon-text">Notifications</div>
        <i class="fa fa-chevron-right arrow-icon"></i>
      </li>
      <li>
        <div class="icon-text">Offers</div>
        <i class="fa fa-chevron-right arrow-icon"></i>
      </li>
      <li>
        <div class="icon-text">Lucky Dip Winners</div>
        <i class="fa fa-chevron-right arrow-icon"></i>
      </li>
    </ul>
  </div>
  <div class="logout-section">
    <app-logout></app-logout>
  </div>
</div>
